{# templates/includes/_formhelpers.html #}
{% macro render_field(field, label_visible=true) %}
<div class="form-group mb-3">
    {% if label_visible %}
    {{ field.label(class="form-label") }}
    {% endif %}

    {% if field.errors %}
    {{ field(class="form-control is-invalid " + kwargs.pop('class', ''), **kwargs) }}
    <div class="invalid-feedback">
        {% for error in field.errors %}
        <span>{{ error }}</span><br>
        {% endfor %}
    </div>
    {% else %}
    {{ field(class="form-control " + kwargs.pop('class', ''), **kwargs) }}
    {% endif %}

    {% if field.description %}
    <small class="form-text text-muted">{{ field.description }}</small>
    {% endif %}
</div>
{% endmacro %}